<button ui-sref="favorites">Favoriti</button>
<input type="text" placeholder="Pretraži favorite" ng-model="searchInput" ng-change="search()" />
<div ng-repeat="news in newsToShow">
    {{news.Name}}
    <button ng-show="!news.Favorite" ng-click="AddToFavorites(news.Id)">Dodaj za favorita</button>
    <span ng-show="news.Favorite">Favorit</span>
    <button ui-sref="details({newsId: {{news.Id}}})">Detalji</button>
</div>
<button ng-show="unshownNews" ng-click="AddMoreNews()">Dodaj još novosti</button>
<span ng-show="!unshownNews">Sve novosti su prikazane</span>
